body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:503px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u18446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u18446 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:735px;
  width:37px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u18446 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18446_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u18447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:863px;
}
#u18447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:863px;
  display:flex;
}
#u18447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18449 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:98px;
  width:375px;
  height:667px;
  display:flex;
}
#u18449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(29, 129, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18450 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:98px;
  width:375px;
  height:65px;
  display:flex;
}
#u18450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u18452 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:131px;
  width:10px;
  height:18px;
  display:flex;
}
#u18452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u18453 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:131px;
  width:28px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u18453 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18453_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u18454 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:126px;
  width:90px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u18454 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18454_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:7px;
}
#u18455 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:138px;
  width:26px;
  height:7px;
  display:flex;
}
#u18455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u18456 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:131px;
  width:28px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u18456 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18456_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18459 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:163px;
  width:374px;
  height:67px;
  display:flex;
}
#u18459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18460 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:174px;
  width:74px;
  height:22px;
  display:flex;
}
#u18460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u18461 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:198px;
  width:113px;
  height:23px;
  display:flex;
  color:#999999;
}
#u18461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:90px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-Black', 'Arial Black', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u18462 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:182px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'Arial-Black', 'Arial Black', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u18462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18464 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:230px;
  width:374px;
  height:68px;
  display:flex;
}
#u18464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u18465 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:257px;
  width:10px;
  height:17px;
  display:flex;
}
#u18465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18466 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:241px;
  width:74px;
  height:26px;
  display:flex;
}
#u18466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u18467 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:265px;
  width:107px;
  height:23px;
  display:flex;
  color:#999999;
}
#u18467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:90px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-Black', 'Arial Black', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u18468 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:251px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'Arial-Black', 'Arial Black', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u18468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18470 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:298px;
  width:374px;
  height:67px;
  display:flex;
}
#u18470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u18471 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:323px;
  width:10px;
  height:17px;
  display:flex;
}
#u18471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18472 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:308px;
  width:74px;
  height:26px;
  display:flex;
}
#u18472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u18473 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:332px;
  width:136px;
  height:23px;
  display:flex;
  color:#999999;
}
#u18473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:90px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-Black', 'Arial Black', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u18474 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:317px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'Arial-Black', 'Arial Black', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u18474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u18475 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:399px;
  width:360px;
  height:1px;
  display:flex;
}
#u18475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18477 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:365px;
  width:374px;
  height:67px;
  display:flex;
}
#u18477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u18478 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:390px;
  width:10px;
  height:17px;
  display:flex;
}
#u18478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18479 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:373px;
  width:84px;
  height:26px;
  display:flex;
}
#u18479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:90px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-Black', 'Arial Black', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u18480 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:384px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'Arial-Black', 'Arial Black', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u18480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u18481 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:400px;
  width:136px;
  height:23px;
  display:flex;
  color:#999999;
}
#u18481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18483 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:432px;
  width:374px;
  height:67px;
  display:flex;
}
#u18483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u18484 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:457px;
  width:10px;
  height:17px;
  display:flex;
}
#u18484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18485 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:442px;
  width:204px;
  height:26px;
  display:flex;
}
#u18485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:90px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-Black', 'Arial Black', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u18486 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:451px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'Arial-Black', 'Arial Black', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u18486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u18487 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:469px;
  width:136px;
  height:23px;
  display:flex;
  color:#999999;
}
#u18487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u18488 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:188px;
  width:13px;
  height:17px;
  display:flex;
}
#u18488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(29, 129, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18490 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:98px;
  width:375px;
  height:20px;
  display:flex;
}
#u18490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u18491 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:102px;
  width:360px;
  height:11px;
  display:flex;
}
#u18491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
